CW1/2223-CMT218-CW1.docx
CW1/2223-CMT218-CW1.pdf
CW1/2223-CMT218-CW2.docx
CW1/cnn-election-results-map-data-visualization (1).png
CW1/VA_C1841824.docx
CW2/venv
CW2/2223-CMT218-CW2.docx
CW2/assesment.txt
CW2/app_copy.py
CW2/dataset.txt
CW2/requirements.txt
CW2/.vscode
.vscode