CW1/2223-CMT218-CW1.docx
CW1/2223-CMT218-CW1.pdf
CW1/2223-CMT218-CW2.docx
CW1/cnn-election-results-map-data-visualization (1).png
CW1/VA_C1841824.docx
CW2/cwenv
CW2/2223-CMT218-CW2.docx
CW2/assesment.txt
CW2/CMT307_lab2_data_exploration_preprocessing(1).ipynb
CW2/CMT307_Lab4_Classification.ipynb
CW2/CMT307Lab1Ex2-1.ipynb
CW2/dataset.txt
CW2/DVA_C1841824.ipynb
CW2/requirements.txt